.cart {
  width: 800px;
  margin: 60px auto;
  display: flex;
}
.cart .order {
  width: 550px;
  margin-right: 30px;
}
.cart .order .free-ship {
  background-color: #F1F6F9;
  padding: 15px;
  margin-bottom: 15px;
}
.cart .order .free-ship p:first-child {
  font-size: 18px;
  font-weight: 700;
  color: #ffcc00;
  margin-bottom: 10px;
}
.cart .order .free-ship p:last-child {
  font-size: 14px;
  color: #1f1f1f;
}
.cart .order .order-info {
  border: 1px solid #F1F6F9;
}
.cart .order .order-info .list-orders-title {
  background-color: #F1F6F9;
  padding: 15px;
}
.cart .order .order-info .list-orders-title p {
  font-size: 18px;
  font-weight: 700;
  color: #1f1f1f;
}
.cart .order .order-info .order-detail .detail-info {
  display: flex;
  border-bottom: 1px solid #F1F6F9;
}
.cart .order .order-info .order-detail .detail-info .cart-image {
  width: 200px;
}
.cart .order .order-info .order-detail .detail-info .cart-image img {
  width: 100%;
}
.cart .order .order-info .order-detail .detail-info .product-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart .order .order-info .order-detail .detail-info .product-info p {
  margin-bottom: 5px;
}
.cart .order .order-info .order-detail .detail-info .product-info p:first-child {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 10px;
}
.cart .order .order-info .order-detail .detail-info .product-info p:nth-child(3) input {
  color: #1f1f1f;
  margin-left: 10px;
  padding-right: 5px;
  text-align: right;
  border: none;
  border-bottom: 1px solid #1f1f1f;
}
.cart .order .order-info .order-detail .detail-info .product-info p:nth-child(4) {
  margin-bottom: 10px;
}
.cart .order .order-info .order-detail .detail-info .product-info a {
  width: fit-content;
  padding: 5px 15px;
  text-decoration: none;
  border: 1px solid #ededed;
  border-radius: 5px;
  color: #1f1f1f;
}
.cart .order .order-info .order-detail .detail-info .price {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}
.cart .order .order-info .order-detail .detail-info .price p {
  font-weight: 700;
  color: red;
}
.cart .order .order-info .order-detail .detail-info:last-child {
  border-bottom: none;
}
.cart .order .continue-shopping {
  margin-top: 30px;
  margin-bottom: 30px;
}
.cart .order .continue-shopping a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #03649F;
}
.cart .summary-bill {
  width: 250px;
  height: fit-content;
  color: #fff;
  background-color: #03649F;
}
.cart .summary-bill .summary {
  padding: 15px;
  border-bottom: 1px solid #fff;
}
.cart .summary-bill .summary p {
  font-weight: 700;
  font-size: 18px;
}
.cart .summary-bill .subtotal,
.cart .summary-bill .total {
  padding: 15px;
  border-bottom: 1px solid #fff;
  font-size: 14px;
}
.cart .summary-bill .subtotal div,
.cart .summary-bill .total div {
  display: flex;
  justify-content: space-between;
}
.cart .summary-bill .checkout {
  padding: 30px 15px;
  text-align: center;
}
.cart .summary-bill .checkout a {
  background-color: orange;
  text-decoration: none;
  color: #fff;
  padding: 5px 15px;
}
@media screen and (max-width: 799px) {
  .cart {
    width: 550px;
    display: flex;
    flex-direction: column;
  }
  .cart .summary-bill {
    margin: 0 auto;
  }
}
@media screen and (max-width: 549px) {
  .cart {
    width: 300px;
  }
  .cart .order {
    width: 300px;
  }
}

/*# sourceMappingURL=cart.css.map */
