<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/admin/process_create_color}"
      th:object="${colorCreate}" method="POST">
    <div>
        <label for="size">Chọn size: </label>
        <input id="size" type="text" th:field="*{sizeId}" name="size" th:value="${colorCreate.sizeId}"/>
    </div>
    <div>
        <label for="color">Màu sắc: </label>
        <input id="color" type="text" th:field="*{color}" name="color" />
    </div>
    <div>
        <label for="quantity">Số lượng: </label>
        <input id="quantity" type="number" th:field="*{quantity}" name="quantity" />
    </div>

    <!--  Button Tạo-->
    <div>
        <input th:type="submit" value="Tạo Màu Sắc">
    </div>
</form>
</body>
</html>