<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/admin/process_create_image}"
      th:object="${imageCreate}" method="POST">
    <div>
        <label for="color">ID Màu: </label>
        <input id="color" type="text" th:field="*{colorId}" name="color" th:value="${imageCreate.colorId}"/>
    </div>
    <div>
        <label for="image">Link ảnh: </label>
        <input id="image" type="text" th:field="*{imageLink}" name="image" />
    </div>

    <!--  Button Tạo-->
    <div>
        <input th:type="submit" value="Tạo Ảnh">
    </div>
</form>
</body>
</html>