<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form th:action="@{/admin/process_create_size}"
      th:object="${sizeCreate}"
      method="POST">
  <div>
    <label for="product">Chọn sản phẩm: </label>
    <select name="product" id="product" th:field="*{productId}">
      <option th:each="product : ${products}" th:text="${product.name}" th:value="${product.id}"></option>
    </select>
  </div>
  <div>
    <label for="size">Size: </label>
    <input id="size" type="text" th:field="*{size}" name="size" />
  </div>
  <div>
    <label for="shirtLength">Chiều dài áo: </label>
    <input id="shirtLength" type="text" th:field="*{shirtLength}" name="shirtLength" />
  </div>
  <div>
    <label for="chestCircumference">Vòng ngực: </label>
    <input id="chestCircumference" type="text" th:field="*{chestCircumference}" name="chestCircumference" />
  </div>
  <div>
    <label for="shoulderWidth">Độ rộng vai: </label>
    <input id="shoulderWidth" type="text" th:field="*{shoulderWidth}" name="shoulderWidth" />
  </div>
  <div>
    <label for="sleeveLength">Độ dài tay áo: </label>
    <input id="sleeveLength" type="text" th:field="*{sleeveLength}" name="sleeveLength" />
  </div>
  <div>
    <label for="weight">Cân nặng: </label>
    <input id="weight" type="text" th:field="*{weight}" name="weight" />
  </div>
  <div>
    <label for="height">Chiều cao: </label>
    <input id="height" type="text" th:field="*{height}" name="height" />
  </div>


  <div>
    <input th:type="submit" value="Tạo Size">
  </div>
</form>
</body>
</html>