.products {
    width: 100%;
    color: #1f1f1f;
    .title {
        text-align: center;
        padding: 30px;
        h2 {
            color: #1F1F1F;
            font-size: 32px;
        }
    }
    .list-products {
        width: 100%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        .card {
            margin-bottom: 60px;
            width: 100%;
            text-decoration: none;
            color: #1F1F1F;
            .thumbnail {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .price {
                margin-top: 15px;
                text-align: center;
                .product-name {
                    font-weight: 700;
                }
            }
        }
        @media screen and (max-width: 849px) {
            grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
        }
        @media screen and (max-width: 699px) {
            grid-template-columns: 50% 50%;
        }
    }
}