<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer-body">
    <link rel="stylesheet" href="css/footer/footer.css">
    <!-- newsletter -->
    <section class="newsletter">
        <div class="center-text">
            <h2>Nhận Thông Tin Ưu Đãi</h2>
        </div>
        <form action="">
            <input class="email" type="email" name="" placeholder="Địa chỉ email..." required>
            <input type="submit" value="Đăng ký" class="btn">
        </form>
    </section>

    <!-- contact -->
    <section class="contact">
        <div class="contact-box">
            <a href="" class="logo">
                <img src="images/logo/logo.svg" alt="">
            </a>
            <div class="icons">
                <a href=""><i class='bx bxl-facebook-square'></i></a>
                <a href=""><i class='bx bxl-instagram-alt'></i></a>
                <a href=""><i class='bx bxl-tiktok'></i></a>
            </div>
        </div>
        <div class="contact-box">
            <h3>Danh Mục Sản Phẩm</h3>
            <li><a href="">Sữa</a></li>
            <li><a href="">Đông Trùng Hạ Thảo</a></li>
            <li><a href="">Ngũ Cốc</a></li>
        </div>
        <div class="contact-box">
            <h3>Xem Nhanh</h3>
            <li><a href="">Tất Cả Bài Viết</a></li>
            <li><a href="">Toàn Bộ Sản Phẩm</a></li>
        </div>
        <div class="contact-box">
            <h3>Pháp Lý</h3>
            <li><a href="">Chính Sách & Điều Khoản</a></li>
        </div>
    </section>

    <!-- copyright -->
    <div class="copyright">
        <p>©2020. | Sở hữu bởi: DNAHEALTH. | Đã đăng kí bản quyền.</p>
    </div>
</footer>
</body>
</html>