<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<body>
<header th:fragment="header-body">
    <link rel="stylesheet" href="css/header/header.css">
    <a th:href="@{/}" class="logo">
        <img src="images/logo/logo.svg" alt="">
    </a>
    <ul class="navbar">
        <li><a th:href="@{/}" class="home-tab">Trang Chủ</a></li>
        <li><a th:href="@{/san-pham}" class="products-tab">Sản Phẩm</a></li>
        <li><a href="#" class="blogs-tab">Chuyện Sức Khoẻ</a></li>
        <li><a href="#" class="about-tab">Về Chúng Tôi</a></li>
        <li><a href="#" class="contact-tab">Liên Hệ</a></li>
    </ul>
    <div class="header-icons">
        <a href=""><i class="bx bx-search-alt-2"></i></a>
        <a href=""><i class="bx bx-bell"></i></a>
        <th:block th:if="${TOTAL_QUANTITIES != 0}">
            <a th:href="@{/gio-hang}">
                <i class="bx bx-cart-alt"></i>
                <span class="bag-full" th:text="${TOTAL_QUANTITIES}"></span>
            </a>
        </th:block>
        <th:block th:if="${TOTAL_QUANTITIES == 0}">
            <a th:href="@{/gio-hang}"><i class="bx bx-cart-alt"></i></a>
        </th:block>
        <div id="menu-icon" class="bx bx-menu"></div>
    </div>

    <!-- dark mode -->
    <div class="bx bx-moon" id="darkmode"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</header>
</body>
</html>




