<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="side-menu-body" id="side-menu">
    <div class="side-menu-icon">
        <a href="https://www.facebook.com/profile.php?id=100088372483641"><i class="fab fa-facebook-square"></i></a>
    </div>
    <div class="side-menu-icon">
        <a href=""><i class="fab fa-instagram"></i></a>
    </div>
    <div class="side-menu-icon">
        <a href=""><i class="fas fa-heart"></i></a>
    </div>
    <div class="side-menu-icon">
        <a href=""><i class="far fa-shopping-cart"></i></a>
    </div>
    <i class="fas fa-horizontal-rule"></i>
    <div class="side-menu-icon">
        <a href=""><i class="fas fa-gift"></i></a>
    </div>
</div>
</body>
</html>