<!--suppress ALL -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<body>
<div th:fragment="utility-oasis-body" class="utility-oasis">
    <link rel="stylesheet" href="css/main/utility-oasis/utility-oasis.css">
    <div class="utility-icon">
        <a><i class="fab fa-facebook"></i></a>
        <a><i class="fab fa-tiktok"></i></a>
        <a><i class="fab fa-instagram"></i></a>
        <th:block th:if="${TOTAL_QUANTITIES != 0}">
            <a th:href="@{/gio-hang}">
                <i class="far fa-shopping-bag"></i>
                <span class="bag-full" th:text="${TOTAL_QUANTITIES}"></span>
            </a>
        </th:block>
        <th:block th:if="${TOTAL_QUANTITIES == 0}">
            <a th:href="@{/gio-hang}"><i class="far fa-shopping-bag"></i></a>
        </th:block>
    </div>
  <div class="search-container">
      <div class="search">
          <form>
              <input type="text" placeholder="Tìm kiếm">
          </form>
          <i class="far fa-search"></i>
      </div>
  </div>
</div>
</body>
</html>