.banner {
    background-color: #F1F6F9;
}

.support-info .top-info {
    background-color: #F1F6F9;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.support-info .top-info div {
    width: 300px;
    text-align: center;
    margin: 0 20px;
}

.support-info .top-info div i {
    font-size: 18px;
    margin-bottom: 10px;
    color: #03649F;
}

.support-info .top-info div p:nth-child(2) {
    color: #03649F;
}

.support-info .top-info div hr {
    margin: 20px auto;
    width: 50px;
    border: 1px solid #ffcc00;
}

.support-info .top-info div p:nth-child(4) {
    font-weight: 300;
}

.support-info .bottom-info {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 60px;
    display: flex;
}

.support-info .bottom-info div {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.support-info .bottom-info div h2 {
    font-size: 56px;
    color: #03649F;
}

.support-info .bottom-info div p {
    width: 100%;
    font-weight: 300;
    text-align: justify;
    line-height: 1.5;
}

@media screen and (max-width: 1199px) {
    .support-info .bottom-info {
        width: 1000px;
    }
}

@media screen and (max-width: 999px) {
    .support-info .bottom-info {
        padding: 30px;
        width: 900px;
    }
}

@media screen and (max-width: 975px) {
    .support-info .top-info div {
        margin: 0 10px;
    }
}

@media screen and (max-width: 915px) {
    .support-info .top-info div {
        margin: 0 10px;
    }
    .support-info .top-info div p:nth-child(2) {
        font-size: 16px;
    }
    .support-info .top-info div p:nth-child(4) {
        font-size: 14px;
    }
}

@media screen and (max-width: 899px) {
    .support-info .bottom-info {
        width: 800px;
    }
}

@media screen and (max-width: 808px) {
    .support-info .top-info div {
        margin: 0 5px;
    }
}

@media screen and (max-width: 799px) {
    .support-info .bottom-info {
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 778px) {
    .support-info .top-info div p:nth-child(2) {
        font-size: 14px;
    }
    .support-info .top-info div p:nth-child(4) {
        font-size: 12px;
    }
}