<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JSP Page</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>List Products</h2>
    <div class="rows">
        <div class="col-sm-9">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Ảnh sản phẩm</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="item: ${CART_ITEMS}">
                    <form th:action="@{/gio-hang/cap-nhat}" method="post">
                        <input type="hidden" name="id" th:value="${item.product.id}"/>
                        <tr>
                            <td>
                                <img th:src="${item.product.cartImage}" style="width: 100px;">
                            </td>
                            <td th:text="${item.product.name}"></td>
                            <td th:text="${#numbers.formatDecimal(item.product.price, 0, 'POINT', 0, 'POINT')} + 'đ'"></td>
                            <td><input name="quantity" th:value="${item.quantity}"
                                       onblur="this.form.submit()" style="width: 50px;"></td>
                            <td th:text="${#numbers.formatDecimal(item.product.price*item.quantity, 0, 'POINT', 0, 'POINT')} + 'đ'"></td>
                            <td><a class="btn btn-primary btn-sm"
                                   th:href="@{|/gio-hang/xoa/${item.product.id}|}">XOÁ</a></td>
                        </tr>
                    </form>
                </th:block>
                </tbody>
            </table>
            <p th:text="'Tổng Tiền: ' + ${#numbers.formatDecimal(TOTAL, 0, 'POINT', 0, 'POINT')} + 'đ'"></p>
            <hr/>
            <a class="btn btn-primary btn-sm" th:href="@{/gio-hang/lam-moi}">LÀM SẠCH GIỎ HÀNG</a>
            <a class="btn btn-primary btn-sm" th:href="@{/san-pham}">TIẾP TỤC MUA SẮM</a>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-primary btn-sm" th:href="@{/thanh-toan}">THANH TOÁN</a>
</div>
</body>
</html>