<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>DNAHEALTH - THANH TOÁN THÀNH CÔNG</title>
    <link rel="icon" href="images/logo/logo.svg" type="image/svg+xml">
    <link rel="stylesheet" href="font-awesome-pro-master/css/all.css">
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/main/thanh-toan-thanh-cong/thanh-toan-thanh-cong.css">
    <!-- box icons link -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script>
        document.ready(
            window.setTimeout(function() {
                window.location.href = "https://dnashop.herokuapp.com/san-pham";
            }, 5000)
        )
    </script>
</head>
<body>
    <div th:replace="fragments/header :: header-body" th:remove="tag"></div>
    <!-- main -->
    <main>
        <section class="pay-success">
            <p>Chúc mừng bạn đã thanh toán thành công</p>
        </section>
    </main>
    <div th:replace="fragments/footer :: footer-body"></div>
    <!-- js file link -->
    <script src="js/script.js"></script>
</body>
</html>