<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>DNAHEALTH - TRANG CHỦ</title>
    <link rel="icon" href="images/logo/logo.svg" type="image/svg+xml">
    <link rel="stylesheet" href="font-awesome-pro-master/css/all.css">
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/main/trang-chu/trang-chu.css">
    <!-- box icons link -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>
    <div th:replace="fragments/header :: header-body" th:remove="tag"></div>
    <!-- main -->
    <main>
        <!-- home -->
        <section class="home" id="home">
            <div class="home-text">
                <h1>Siêu Ưu Đãi <br> Mua 5 Tặng 1</h1>
                <p>Mua 5 tặng 1. Nhận ngay 1 hộp 24 gói cùng loại khi mua 5 hộp Papamilk Gold hoặc 5 hộp Papamilk Diasure. Ưu đãi chỉ đến hết tháng 5</p>
                <div class="home-btnn">
                    <a href="#" class="btn">Đặt hàng ngay</a>
                    <a href="#" class="btn2">
                        <span>
                            <i class='bx bx-play-circle'></i>
                        </span> &nbsp; Xem Ngay</a>
                </div>
            </div>
            <div class="home-img">
                <img src="https://res.cloudinary.com/dkylojnfz/image/upload/dnahealth/trang-chu/milk-banner.png" alt="">
            </div>
        </section>

        <!-- categories -->
        <section class="categories" id="categories">
            <div class="center-text">
                <strong>Những Bài Viết Chuyên Sâu</strong>
                <h2>Chuyện Sức Khoẻ</h2>
            </div>
            <div class="categories-content">
                <!--            <div class="box">-->
                <!--                <div class="box-img">-->
                <!--                    <img src="images/canxi.svg" alt="">-->
                <!--                </div>-->
                <!--                <h3>90% canxi đưa vào cơ thể sẽ bị đào thải ra ngoài!</h3>-->
                <!--                <p>Find your favourite meal, eat what you love and save your time. Eat what you love and save your time.-->
                <!--                </p>-->
                <!--            </div>-->
                <!--            <div class="box">-->
                <!--                <div class="box-img">-->
                <!--                    <img src="images/milk.svg" alt="">-->
                <!--                </div>-->
                <!--                <h3>Sự thật không như mơ về việc cung cấp Canxi từ sữa bột</h3>-->
                <!--                <p>Find your favourite meal, eat what you love and save your time. Eat what you love and save your time.-->
                <!--                </p>-->
                <!--            </div>-->
                <!--            <div class="box">-->
                <!--                <div class="box-img">-->
                <!--                    <img src="images/canxi.svg" alt="">-->
                <!--                </div>-->
                <!--                <h3>90% canxi đưa vào cơ thể sẽ bị đào thải ra ngoài!</h3>-->
                <!--                <p>Find your favourite meal, eat what you love and save your time. Eat what you love and save your time.-->
                <!--                </p>-->
                <!--            </div>-->
                <!--            <div class="box">-->
                <!--                <div class="box-img">-->
                <!--                    <img src="images/milk.svg" alt="">-->
                <!--                </div>-->
                <!--                <h3>Sự thật không như mơ về việc cung cấp Canxi từ sữa bột</h3>-->
                <!--                <p>Find your favourite meal, eat what you love and save your time. Eat what you love and save your time.-->
                <!--                </p>-->
                <!--            </div>-->
                <p style="text-align: center; font-size: 48px;
                          font-weight: 700; color: #fafafa;
                          padding: 30px 30px 120px 30px;">CHƯA CÓ BÀI VIẾT NÀO ĐỂ HIỂN THỊ</p>
            </div>
        </section>

        <!-- history -->
        <section class="history" id="history">
            <div class="history-img">
                <img src="https://res.cloudinary.com/dkylojnfz/image/upload/dnahealth/trang-chu/vkaizen.png" alt="">
            </div>
            <div class="history-text">
                <strong>Sản Phẩm Từ VKAIZEN</strong>
                <h2>Cải tiến liên tục vì sức khỏe người Việt</h2>
                <p>Sức khỏe là tài sản quý giá nhất của con người, là khởi đầu cho hành trình chinh phục cuộc sống tốt đẹp. Chính vì điều đó Vkaizen đề ra sứ mệnh của mình là tạo ra và liên tục cải tiến để mang đến những sản phẩm tốt nhất cho sức khỏe.</p>
                <a href="#" class="btn">Khám Phá</a>
            </div>
        </section>

        <!-- menu -->
        <section class="menu" id="menu">
            <div class="center-text">
                <strong>Các Sản Phẩm Nổi Bật Của DNAHEALTH</strong>
                <h2>Sản Phẩm Nổi Bật</h2>
            </div>
            <div class="menu-content">
                <th:block th:each="p: ${LIST_PRODUCT}">
                    <div class="row">
                        <a th:href="@{/chi-tiet-san-pham(id=${p.id})}" class="row-img">
                            <img th:src="|https://res.cloudinary.com/dkylojnfz/image/upload/dnahealth/products/${p.category.categoryCode}/${p.productCode}/thumbnail/thumbnail.svg|" alt="Sữa Loãng Xương + Cho Người Tiểu Đường">
                        </a>
                        <h5 th:text="${p.name}"></h5>
                        <h6 th:text="${#numbers.formatDecimal(p.price, 0, 'POINT', 0, 'POINT')} + 'đ'"></h6>
                        <div class="ratings">
                            <a href="#"><i class="bx bxs-star"></i></a>
                            <a href="#"><i class="bx bxs-star"></i></a>
                            <a href="#"><i class="bx bxs-star"></i></a>
                            <a href="#"><i class="bx bxs-star"></i></a>
                            <a href="#"><i class="bx bxs-star"></i></a>
                        </div>
                    </div>
                </th:block>
            </div>
            <div class="menu-btnn">
                <a th:href="@{/san-pham}" class="btn">Xem Tất Cả</a>
            </div>
        </section>

        <!-- testimonial -->
        <section class="testimonial" id="testimonial">
            <div class="testimonial-left">
                <strong>Phản Hồi Của Khách Hàng</strong>
                <h2>Khách Hàng <br> Cảm Nhận Gì Về Sản Phẩm</h2>
            </div>
            <div class="testimonial-right">
                <div class="testimonial-img">
                    <img src="images/avatar.svg" alt="">
                </div>
                <h4>Dương Dũng</h4>
                <h6>Hà Nội, Việt Nam</h6>
                <p>"Sản phẩm vượt ngoài mong đợi. Trước đây tôi thường xuyên bị đau nhức vùng cổ vai, gai đốt sống do làm việc sai tế thế trong thời gian dài. Sau hơn 1 tháng sử dụng sữa Papamilk Gold, bây giờ tôi cảm thấy rất thoải mái."</p>
            </div>
        </section>
    </main>
    <div th:replace="fragments/footer :: footer-body"></div>

    <!-- js file link -->
    <script src="js/script.js"></script>

    <script>
        $(document).ready(function() {
            $('.home-tab').addClass('active');
        });
    </script>
</body>

</html>