.cart {
    width: 500px;
}

.customer {
    width: 500px;
    border: 1px solid #F1F6F9;
    padding: 15px;
    text-align: center;
}

.customer i {
    color: #ffcc00;
}

form .info-fill:last-child {
    padding: 0;
    padding-top: 15px;
}

.info-fill {
    width: 100%;
    text-align: center;
}

.info-fill input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #f1f6f9;
    border-radius: 0;
    font-weight: 700;
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
    color: #1f1f1f;
}

.info-fill input::placeholder {
    font-weight: 700;
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
    color: #1f1f1fb3;
}

.info-fill .btn-input {
    width: 170px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin: 0;
    padding: 10px 15px;
    background-color: #ffcc02;
    color: #FFF;
    cursor: pointer;
}

.info-fill .btn-input:hover {
    background-color: #ffcc02e8;
}

@media screen and (max-width: 499px) {
    .cart {
        width: 300px;
    }

    .customer {
        width: 300px;
    }
}